<div class="fixed-bottom my-4">

    <div class="d-flex justify-content-around tx-12">
        <div class="link text-center">
        <div class="d-flex rounded-circle text-center justify-content-center align-items-center" [ngStyle]="{'width': '50px', 'height': '50px', 'background-color': '#02abf0'}">
            <fa-icon class="fs-3" [icon]="faHome" [ngStyle]="{'color': 'white'}"></fa-icon>
        </div>
        Mode
    </div>
    <a class="link text-center" href="device">
        <div class="d-flex rounded-circle text-center justify-content-center align-items-center" [ngStyle]="{'width': '50px', 'height': '50px', 'background-color': 'gainsboro'}">
            <fa-icon class="fs-3" [icon]="faBell"></fa-icon>
        </div>
        Mode
    </a>
    <div class="link text-center">
        <div class="d-flex rounded-circle text-center justify-content-center align-items-center" [ngStyle]="{'width': '50px', 'height': '50px', 'background-color': 'gainsboro'}">
            <fa-icon class="fs-3" [icon]="faShare"></fa-icon>
        </div>
        Share
    </div>
    <a class="link text-center" href="settings">
        <div class="d-flex rounded-circle text-center justify-content-center align-items-center" [ngStyle]="{'width': '50px', 'height': '50px', 'background-color': 'gainsboro'}">
            <fa-icon class="fs-3" [icon]="faGear"></fa-icon>
        </div>
        Settings
    </a>
    </div>

</div>