<div class="d-flex flex-column container align-items-center h-100">
    <div class="text-center my-4">88% August 7, 2020 2:55pm</div>
    <div class="my-5">
        <div class="d-flex flex-column rounded-circle justify-content-center align-items-center" [ngStyle]="{
            'height': '200px', 
            'width': '200px', 
            'border': '2px solid #02abf0'
        }">
            <img src="assets/images/bluetooth.png" width="60" height="60">
            <span [ngStyle]="{'color': '#02abf0'}">Connectable</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center my-4">
            <img src="assets/images/bluetooth.svg" width="30" height="30">
            <span>Bluetooth</span>
        </div>
    </div>
</div>
<app-footer></app-footer>